body {
  margin: 0;
  padding: 30px;

  background-color: #f2f4ff;
  color: #333;
}

header {
  padding: 20px 50px;
  margin-bottom: 30px;

  text-align: left;

  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(126, 142, 228, 0.15);

  color: white;
  background-color: white;
}

footer {
  padding: 15px;
  margin-top: 40px;

  font-size: 14px;
  text-align: center;
  border-top: 1px solid #ccc;

  color: #777;
}

nav ul {
  padding: 0;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
  gap: 20px;

  list-style: none;
}

nav ul li a {
  padding: 8px 16px;

  text-decoration: none;
  font-weight: bold;

  border-radius: 8px;
  transition: background 0.2s;

  color: black;
}

nav ul li a:hover {
  background-color: #dedeff;
}

section {
  margin-bottom: 40px;
  padding: 25px;

  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  background-color: white;
}

h1,
h2,
h3 {
  color: #1f1f1f;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

table {
  width: 100%;
  margin-top: 15px;

  border-collapse: collapse;
  border-radius: 10px;

  overflow: hidden;

  background-color: #fdfdff;
}

th {
  padding: 12px;

  text-align: center;

  background-color: #e2e2e2;
  color: #333;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

form input,
form textarea,
form button {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;

  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form button {
  border: none;
  transition: background 0.2s;

  background-color: #5c6bc0;
  color: white;

  cursor: pointer;
}

form button:hover {
  background-color: #3f51b5;
}
